<section class="footer">
    <div class="subtitulo">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="social">
                <%= image_tag('logo.png', width: 48) %>
                </div>
                <h3>Kalla Rio Tecnologia e Logística</h3>
                <div class="social">
                    <%= link_to image_tag('facebook.png', width: "48"), 'https://facebook.com/kallario' %>
                    <%= link_to image_tag('instagram.png', width: "48"), 'https://facebook.com/kallario' %>
                    <%= link_to image_tag('github.png', width: "48"), 'https://github.com/kallario' %>
                </div>
            </div>
        </div>
    </div>

    <div class="contato">
        <p><span style="color: tomato;"><i class="fas fa-map-marker-alt"></i> ENDEREÇO:</span><br>Travessa Casa Branca, 126, Sala 1<br/>São Lourenço, Engenheiro Paulo de Frontin, RJ</p>
        <p><span style="color: tomato;"><i class="fas fa-envelope"></i> CONTATO:</span><br>Email: contato@kallario.com.br<br/>WhatsApp: (24) 99992-0848</p>
    </div>

    <div class="copyright">
        <p>Copyright 2021 Kalla Rio - Todos os direitos reservados</p>
    </div>    

</section>