<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    &nbsp;<%= image_tag('logo.png', width: 48) %>
    <span class="navbar-brand" style="font-size: 24px; font-weight: bold;">KALLA RIO</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quem Somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fale Conosco</a>
        </li>        
      </ul>
      <p style="font-size: 18px; padding-top:12px;"><i class="fas fa-phone-alt"></i> (24) 99992-0848</p>
    </div>
  </div>
</nav>